<!-- <head>

    <title>Change Password</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="newprofileupdate.css">


</head>
 -->
<!------------------------------------------------Form coding--------------------------------------------------------------------->


<div class="wrapper2" ng-controller="changePassword">
    <!-- Tabs Titles -->

    <!-- Icon image -->
    <div class="fadeIn first">
        <img style=" margin-left: 180px;margin-top:-20px;" src="image/login.svg" id="icon" alt="User Icon" />
    </div>
    <br>
    <!-- Registration Form -->

    <div class="form">
        <div class="inputfield">
            <label>Old Password</label>
            <input type="password" ng-model="oldpassword" class="input" placeholder="Enter old password" autocomplete="off">
        </div>

        <div class="inputfield">
            <label>New Password</label>
            <input type="password" ng-model="pass" class="input" placeholder="Enter new password" autocomplete="off">

        </div>
        <span id="passMsg"></span>
        <div class="inputfield">
            <label>Confirm Password</label>
            <input type="password" ng-model="confpass" class="input" placeholder="Confirm new password" autocomplete="off">

        </div>
        <span style=" margin-left: 140px;" id="confPassMsg"></span>

        <span style=" margin-left: 140px;" id="passwordMsg"></span>

        <div class="inputfield">
            <input type="button" id="btn" value="Submit" class="btn-editprofile" ng-click="changePass()"
                style=" margin-left: 140px;">
        </div>



    </div>
    <!-- Remind Passowrd -->


</div>

