<!-- <head>
    
    <title>User Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="profileupdate.css">
  
</head>
 -->

<!------------------------------------------------Form coding--------------------------------------------------------------------->
   
   <div id="formContent">
 <!-- Tabs Titles -->

 <!-- Icon image -->
 <div class="fadeIn first">
   <img src="image/login.svg" id="icon" alt="User Icon" />
 </div>

 <!-- Registration Form -->
 <form ng-controller="userprofileController" data-ng-init="init()">
 
  <table class="table table-striped w-auto">

       <div class="table-responsive text-nowrap">
           <!--Table-->
           <table class="table table-striped">
   
             <!--Table head-->
             <thead>
               <tr>
                 
               </tr>
             </thead>
             <!--Table head-->
   
             <!--Table body-->
             <tbody>
              
              
               <tr>
                 <th scope="row">First Name:</th>
                 <td ng-model="firstName" >{{obj.first_name}}</td>
                 
               </tr>
               <tr>
                 <th scope="row">Last Name :</th>
                 <td ng-model="lastName" >{{obj.last_name}}</td>
                 
               </tr>
               <tr>
                 <th scope="row">Email :</th>
                 <td ng-model="email" >{{obj.email_id}}</td>
               </tr>
               <tr>
                 <th scope="row">Contact :</th>
                 <td ng-model="contact" >{{obj.contact_no}}</td>
               </tr>
               <tr>
                 <th scope="row">Country :</th>
                 <td ng-model="country" >{{obj.country}}</td>                              
               </tr>
             </tbody>
             <!--Table body-->
   
   
           </table>
           <!--Table-->
         </div>
        
 </form>
 <!-- Remind Passowrd -->


</div>



